body {
  font-family: Arial;
  background: #ecfeff;
}

h1 {
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: white;
  padding: 20px 30px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.content {
  text-align: center;
  margin-top: 40px;
  font-size: 20px;
}
