*{
  padding:0px;
  margin:0px;
}

body {
  font-family: Arial;
  background: #f8fafc;
}

h1 {
  text-align: center;
}

.navbar {
  background: #0f172a;
  padding: 12px;
  display: flex;
  justify-content: end;
  gap: 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 5px;
}

.nav-link:hover {
  background: #1e293b;
}

.page {
  text-align: center;
  margin-top: 40px;
}
